body{
  /*width:100%;*/
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(231, 231, 231);
  /*text-align: left;*/
  /*スマホで枠からはみ出ないようにする為の処置*/
  max-width: 100%;
}
header{
  height: 30px;
  background-color: rgba(52, 46, 49, 0.85);
  color: white;
  font-size: 16px;
  position: fixed;
  width: 100%;
  top:0px;
}
header > span{
  text-align: right;
}
.navFlex{
  color: white;
}
.navFlex a{
  color: white;
  border-left: solid 1px white;
}
#wrapper{
  width: auto;
}

.timeLineWrapper{
  width: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.top{
  margin-top: 50px;
  text-align: center;
  /*font-size: 45px;*/
}
.typeText{
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-radius: 20px;
  /*border: 1px solid black;*/
  border: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
.typeText ul {
  padding: 0;
  width: 90%;
  margin: auto;
}
.typeText ul li{
  list-style: none;
  width: 100%;
}
.typeText ul li textarea{
  margin: auto;
}
.sendText{
  background: rgb(105, 194, 251);
  border: 1px solid #DDD;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  color: white;
  width: 100px;
  padding: 10px 0;
  margin-right: 20px;
  margin-top: 10px;
  width: 100%;
}
.inputForm{
  /*width: 600px;*/
  width: 100%;
  height: 60px;
  font-size: 18px;
  resize: vertical;
}
.showError {
  text-align: center;
}
.showError span{
  font-size: 18px;
  color: rgb(250, 65, 65);
  /*font-style: oblique;*/
}

.content{
  padding: 20px;
  margin-top: 15px;
  background-color: white;
  border-radius: 10px;
  /*border: 1px solid black;*/
  border: none;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
}

.share form{
  padding-right: 10px;
  text-align: right;
}

.shareBoard{
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px;
  margin-top: 15px;
  background-color: rgb(249, 210, 144);
  border-radius: 10px;
  border: none;
  /*border: 1px solid black;*/
  font-size: 18px;
}
.shareBoard span{
  /*color: white;*/
  font-size: 20px;
}
/*デザイン上の改行はbrを使わないほうがよいらしいので、スタイルシート側で改行を行う*/
.textContent:before{
  content: "\A" ;
}

.accountInfo{
  font-size: 16px;
}
.reply{
  padding: 10px 0px 10px 10px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  /*position: relative;*/
   word-wrap:break-all;
}
.reply > .textContent{
   text-align: right;
   padding-right: 10px;
}


.textContent{
  margin-bottom: 20px;
  word-wrap:break-word;
  word-break: break-word;
}

footer{
  margin-top: 20px;
  background-color: blue;
  text-align: center;
  bottom: 0px;
  color: white;
}

.shareButton{
    background: rgb(105, 194, 251);
    border: 1px solid #DDD;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    color: white;
    padding: 10px 0;
    margin-right: 20px;
    margin-top: 10px;
    width: 150px;
    /*width: 100%;*/
}
